* {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Ubuntu', sans-serif;
}

.page__body {
  width: 960px;
  margin: auto;
  background-color: azure;
}

.title {
  width: 80%;
  margin: 0 auto;
  padding: 16px 0;
}

.textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px 16px;
  caret-color: blue;
}

.hint {
  width: 80%;
  margin: 0 auto;
  padding: 8px 0;
}

.keyboard,
.keyboard__row,
.key {
  user-select: none;
}

.keyboard {
  width: 80%;
  padding: 10px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 16px auto 0;
  padding: 6px 12px 0;
  background: #535353;
  width: fit-content;
  border-radius: 4px;
  border: 2px solid orange;
  outline: 4px solid #535353;
}

.keyboard__row {
  position: relative;
  width: fit-content;
  display: flex;
  column-gap: 8px;
  margin: 0 auto 8px;
  align-items: end;
}

.key {
  width: 50px;
  height: 50px;
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  color: #cfcfcf;
  transition: all .2s ease-in-out;
  box-shadow: 0px 2px 2px 2px black;
  font: inherit;
  font-size: 11px;
}

.key:hover {
  background-color: #3a3a3a;
  transform: translateY(1px);
  box-shadow: 0px 2px 2px 1px black;
}

.key:active,
.key-active {
  color: #a19f9f;
  background-color: #535353;
  transform: translateY(3px);
  box-shadow: 0px 1px 2px 0px black;
}

.key-xs {
  height: 24px;
}

.key-m {
  width: 60px;
}

.key-l {
  width: 75px;
}

.key-xl {
  width: 92px;
}

.key-xxl {
  width: 121px;
}

.key-arrow-up {
  position: absolute;
  top: 0;
  right: 58px;
}

.key-space {
  width: 288px;
}

